@model Scarpe.Models.DettagliModelView

@{
    ViewBag.Title = "Dettagli";
}

<h2>@Model.Scarpa.NomeScarpa</h2>

<div class="container">
    <div class="row">
        <div class="col-3">
            <img src="@Model.Scarpa.ImmagineCopertina" alt="Immagine di copertina">


        </div>
        <div class="col-9">
            

        <p>Descrizione: <span class="fw-semibold">@Model.Scarpa.Descrizione</span></p>


        </div>
    </div>

</div>





<h3>Altre immagini:</h3>
@foreach (var immagine in Model.ListaImmagini)
{
    <img src="@immagine.PercorsoImmagine" alt="Immagine del prodotto">
}

